.snapshots-table td {
    vertical-align: middle;
}

@media (max-width: 1400px) {
    .snapshots-table-delete-icon {
        display: none;
    }
}

.snaphots-table-created-at {
    text-align: center;
    min-width: 6rem;
}
